flask>=3.0.0
flask-compress>=1.17
google-auth>=2.23.0
google-auth-oauthlib>=1.1.0
google-api-python-client>=2.100.0
waitress>=3.0.0
ollama>=0.4.0
apscheduler>=3.10,<4
peewee>=4.0
beautifulsoup4>=4.12
